@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(24, 20, 20);
    background-color: rgb(8, 92, 33);
}

h1, h2, h3 {
    font-family: 'PT Sans', sans-serif;
}

/* navbar */

.navbar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
   /* background: rgb(33, 143, 57); */
    background: #1E8534;
    height: 5rem;
}

.logo {
    text-decoration: none;
    margin-left: 1rem;
    color: white;
    display: inline-block;
    font-size: 300%;
}

/* main containers for each box */

.start-btn, .rule-box, .quiz-box, .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main containers with active status */ 

.rule-box.activeInfo, .quiz-box.activeQuiz, .result-box.activeResult {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
}

/* start button first page */

.start-btn button {
    font-size: 35px;
    padding: 20px 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: black;
    cursor: pointer;
}

/* rule-box section */

.rule-box {
    width: 500px;
    background: white;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}

.rule-box .rule-title {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0 35px;
    font-size: 24px;
    font-weight: 600;
}

.rule-box .rule-list {
    padding: 15px 35px;
}

.rule-box .rule-list .rule-text {
    margin: 5px 0;
    font-size: 17px;
}

.rule-box .rule-list .rule-text span {
    color: rgb(8, 92, 33);
    font-weight: 800;
}

.rule-box .buttons {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid black;
}

/* continue button inside rule-box */

.rule-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    background: rgb(8, 92, 33);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.rule-box .buttons button:hover {
    background: black;
}

/* exit button inside rule-box */

.buttons button.exit {
    background: lightgray;
    color: rgb(33, 143, 57);
}

/* quiz box */

.quiz-box {
    width: 500px;
    background: white;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
 /*   transform: translate(-50%, -50%) scale (0.9); */
}

/* quiz-box header section */

.quiz-box header {
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid lightgreen;
}

.quiz-box header .title {
    font-size: 18px;
    font-weight: 800;
}

/* timer on top left */

.quiz-box header .timer, .score-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 45px;
    background: black;
    border-radius: 5px;
    padding: 0 8px;
    color: white;
}

/* score counter top right */

.quiz-box header .timer .time-text, .score-text {
    font-size: 17px;
    font-weight: 400;
    user-select: none;
}

.score-text {
    margin-left: 10px;
} 

/* timer and score style */

.quiz-box header .timer .timer-second, .score-counter {
    font-size: 18px;
    font-weight: 500;
    background: rgb(33, 143, 57);
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    user-select: none;
    border-radius: 50%;
}

/* quiz-box question section */

.quiz-box .que {
    padding: 25px 30px 0 30px;
    background: white;
    border-bottom: 1px solid lightgreen;
}

.quiz-box .que .question-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box .que .option-list {
    padding: 20px 0 10px 0;
    display: block;
}

/* quiz options style */

.quiz-box .que .option-list .option {
    background: rgb(212, 255, 222);
    border: 1px solid lightgreen;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.quiz-box .que .option-list .option:hover {
    border: 1px solid rgb(12, 12, 12);
} 

.quiz-box .que .option-list .option.correct {
    background: rgb(33, 143, 57);
}

.quiz-box .que .option-list .option.wrong {
    background: red;
}

.quiz-box .que .option-list .option.disabled {
    pointer-events: none;
}

/* quiz-box footer section */

.quiz-box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* question counter on lower left */

.quiz-box footer .total-que span {
    display: flex;
    user-select: none;
}
    
.quiz-box footer .total-que span p{
    font-weight: 500;
    padding: 0 4px
}

/* continue button inside quiz box */

footer .next-btn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: rgb(8, 92, 33);
    border-radius: 5px;
    cursor: pointer;
}

footer .next-btn:hover {
    background: black;
}

/* result box */

.result-box {
    background: white;
    width: 500px;
    padding: 25px 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
}

/* total score */

.result-box .result-text {
    font-size: 22px;
}

.result-box .score {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result-box .score p {
    font-weight: 600;
    padding: 0 4px;
}

.result-box .score span {
    color: rgb(8, 92, 33);
    font-size: 20px;
}

/* icon of football inside result box */

.result-box .icon {
    font-size: 150px;
    margin-bottom: 10px;
}

/* exit button inside result box */

.result-box .buttons {
    display: flex;
    margin: 20px 0;
}

.result-box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid lightgreen;
    cursor: pointer;
}

.result-box .buttons .quit {
    background: rgb(8, 92, 33);
    color: white;
}

.result-box .buttons .quit:hover {
    background: black;
}

/* footer with social links */

.footer {
    display: flex;
    bottom: 0;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #1E8534;
    height: 5rem;
}

.social {
    width: 190px;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 250%;
    color: white;
    padding: 5%;
    margin: 1%;
}

/* media queries for mobile phones */

@media only screen and (max-width: 500px) {
    
    .logo {
        font-size: 250%;
    }

    .navbar {
        height: 4rem;
    }

    .footer {
        height: 4rem;
    }

    .rule-box, .quiz-box, .result-box {
        width: 380px;
        
    }
    .start-btn button {
        font-size: 25px;
        background: white;
    }

    .quiz-box .que .question-text {
        font-size: 16px;
    }

    .quiz-box .que .option-list .option {
        font-size: 14px;
    }

    .quiz-box .que {
        padding: 10px 30px 0 30px;
    }    

    .rule-box .rule-title {
        font-size: 17px;
    }

    .rule-box .rule-list .rule-text {
        font-size: 15px;
    }
  }