@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: turquoise;
}

h1, h2, h3 {
    font-family: 'PT Sans', sans-serif;
}
.navbar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgb(24, 15, 160);
    height: 5rem;
}

.logo {
    text-decoration: none;
    margin-left: 1rem;
    color: white;
    display: inline-block;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
   
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
}

.play-button, .instructions {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 34px;
    padding: 10px;
    min-width: unset;
    margin: 15px;
    border: 2px solid white;
}

.play-button:hover, .instructions:hover {
    border-color: green;
    background-color: green;

}